@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "../partials/reset";
@import "../partials/variables";
@import "../partials/redes";
body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
}
.nav {
  font-family: "Amatic SC", cursive;
  color: rgb(255, 253, 253);
  background-color: skyblue;
  text-align: center;
  font-size: 1.5rem;
}
.titulo2 {
  color: white;
  text-shadow: 1px 2px 2px rgb(16, 67, 233), 0 0 25px rgb(25, 0, 255),
    0 0 5px rgb(0, 38, 255);
  text-align: center;
  margin: 2%;
}
.ftosocios {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.condisection {
  background-image: linear-gradient(to top, blue, skyblue);
  border: solid 2px white;

  .condiciones {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 3px blue;
    text-decoration: underline;
    margin: 0 0 2% 0;
  }
  .tipos {
    font-size: 15px;
    text-align: center;
    color: white;
    margin: 2% 0 1.5% 0;
  }
  .condicionestext {
    color: white;
    text-align: center;
  }
}
.titulo {
  background: #3066be;
  text-align: left;
  font-size: 40px;
  font-family: "Belanosima", sans-serif;
  text-decoration: none;
  display: flex;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}
@media screen and (max-width: 1024px) {
  .iconoTitulo {
    width: 70px;
    height: auto;
    padding: 1rem;
  }
  img {
    width: 65%;
  }
  h3,
  h2,
  h1 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 575px) {
  .menu li a {
    padding: 5px;
    font-size: 0.7rem;
  }
  .iconoTitulo {
    width: 50px;
    height: auto;
    padding: 0.5rem;
  }
  h3,
  h2,
  h1 {
    font-size: 1rem;
  }
  .nav {
    font-size: 1rem;
  }
  
}
