@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "./partials/reset";
@import "./partials/variables";
@import "./partials/redes";
body {
  background-image: url(./img/fondo.jpg);
  background-size: cover;
}
.menu1 {
  height: 90vh;
  margin: 0.5rem;
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 0.8fr;
  gap: 0.5rem;

  grid-template-areas:
    "historia logo socios"
    "lbdp     logo plantel"
    ". resultados .";

  a {
    color: white;
  }
  .historia {
    grid-area: historia;
  }
  .plantel {
    grid-area: plantel;
  }
  .socios {
    grid-area: socios;
  }
  .lbdp {
    grid-area: lbdp;
  }
}
.nav {
  @include flex-center;
  font-family: "Amatic SC", cursive;
  color: rgb(255, 253, 253);
  background-color: skyblue;

  .buscadores:hover {
    font-size: 3rem;
  }
}
.nav:hover {
  background-color: darkblue;
}
.logo {
  background-image: url(./img/nacional\ logo.png);
  background-position: center center;
  background-size: cover;
  grid-area: logo;
  font-family: "Oswald", sans-serif;
  align-items: end;
}

.resultados {
  grid-area: resultados;
  display: flex;
  font-size: 1rem;
  .resultados:hover {
    background-color: inherit;
  }
  .mainInfoPartidos {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 2% 0;
    text-align: center;
    color: white;
  }
  .quepartido {
    color: white;
  }
  .divResultados {
    display: flex;
  }
  .iconosResultados {
    margin: 0 0.5% 0 0.5%;
    width: 2rem;
    height: 2rem;
  }
  .result {
    width: 3rem;
  }
  .plays,
  .proximopartido,
  .partidopasado {
    padding: 1rem;
    border: solid darkblue 2px;
  }
}

@media screen and (max-width: 1024px) {
  .menu1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.8fr;

    grid-template-areas:
      " logo logo "
      " lbdp   socios"
      " historia      plantel"
      " resultados resultados";
  }
}
@media screen and (max-width: 518px) {
  .menu1 {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0;

    grid-template-areas:
      "logo"
      "historia"
      "plantel"
      "lbdp"
      "socios"
      "resultados";
  }
  .nav {
    border: solid 1px darkblue;
    font-size: 7px;
    margin: 0;
  }
  .mainInfoPartidos{
    display: flex;
    flex-direction: column;
  }
}
